.guarantee {
    display: flex;
    align-items: center;
}

.percent {
    width: 6.5rem;
}

.happiness-text {
    font-weight: 600;
}

.reach-out-section {
    margin-left: 1rem;
    line-height: 1;
}

.footer-customer-text {
    font-size: .875rem;
    line-height: 1.5;
    letter-spacing: 0.015625rem;
    max-width: 625px;
    margin-top: -1rem;
}

.reach-out-btn {
    display: inline-flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 1px;
    cursor: pointer;
    text-decoration: none;
    border-style: none;
    user-select: none;
    position: relative;
    text-transform: none;
    background-color: rgb(16, 14, 32);
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.020625rem;
    min-height: 32px;
    min-width: 100px;
    padding: 0px 16px;
    margin-right: 1rem;
    margin-top: 1rem;
}

.reach-out-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem 3rem;
}