.customer-service-section {
    margin: 1.5rem 0;
}

.text-header {
    margin-bottom: 1.5rem;
}

.list {
    display: block;
    margin: .5rem 0;
    text-decoration: none;
}

.list:hover {
    text-decoration: underline;
}