#root {
  --white: #fff;
  --grey: #d3d3d366;
  --secondary: #aadb1e;
  --sec-col: #B9D6F2;
  --pry-col: #53caec;
  --black: #170c0c;
  --heading-font: 27px;
  --text-font: 13px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Plein', sans-serif;
}

.overflow {
  overflow: hidden;
}