@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  --white: #fff;
  --grey: #d3d3d366;
  --secondary: #aadb1e;
  --sec-col: #B9D6F2;
  --pry-col: #53caec;
  --black: #170c0c;
  --heading-font: 27px;
  --text-font: 13px;
  --red: #9e3131;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
}

html {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: 'Plein', sans-serif;
}

::placeholder {
  font-size: .75rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@layer components {
  .section {
    /* -webkit-box-shadow: 22.5px 22.5px 8.5px -17px #dddddd, 14.5px 22.5px 8.5px -17px #dddddd;
    -moz-box-shadow: 22.5px 22.5px 8.5px -17px #dddddd, 14.5px 22.5px 8.5px -17px #dddddd;
    box-shadow: 22.5px 22.5px 8.5px -17px #dddddd ,14.5px 22.5px 8.5px -17px #dddddd; */
    border-top: solid 1px grey;
  }
}