@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  --white: #fff;
  --grey: #d3d3d366;
  --secondary: #aadb1e;
  --sec-col: #B9D6F2;
  --pry-col: #53caec;
  --black: #170c0c;
  --heading-font: 27px;
  --text-font: 13px;
  --red: #9e3131;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
}

html,body {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  font-family: 'Plein', sans-serif;
}

::placeholder {
  font-size: .75rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input {
  -webkit-border-radius: 0;
  border-radius: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus
 {
  -webkit-text-fill-color: var(--black);
  transition: background-color 5000s ease-in-out 0s;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}