.trending-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    padding: 1rem;
    background-color: var(--white);
}

.trending-img {
    width: 9rem;
    margin: 1.5rem 0;
}

.h2 {
    font-size: var(--heading-font);
    text-align: center;
}